{% extends "base.html" %}

{% block content %}
<h1 class="title">
  <div class="column is-4 is-offset-4" >
    <img class="mb-4" src="https://res.cloudinary.com/dkqqsgsvn/image/upload/v1670129441/1_aocuy8.png" alt="">
    <center>
    <img src="https://www.sketchappsources.com/resources/source-image/doctor-illustration-hamamzai.png" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Doctor Profile Illustration Sketch freebie - Download free resource for  Sketch - Sketch App Sources" data-noaft="1" style="width: 100px; height: 80px;" >
    </center>
    <h6> My profile </h6>
    <h1 style="font-family:trial; font-weight: bold">&nbsp;	&nbsp;	&nbsp;Dr. Jon Doe </h1>
    <h6> Potential list for today </h6>
    <h5> 🧑Alen K.	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>16:00·Common cold</h6>
    <h5>👵Amy F. &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>16:30·Right Arm Pain</h6>
    <h5>👱‍Kim H.&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>16:30·Covid 19&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
    <h6>&nbsp; &nbsp;	&nbsp; &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
    <h6> Tomorrow &nbsp; &nbsp;	&nbsp; &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
    <h6>&nbsp; &nbsp;	&nbsp; &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
    <h5>👨🏿Andy A. &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>08:00·Common cold</h6>
    <h5>👩Bell B. &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>09:30·Headache &nbsp;&nbsp;	&nbsp;	&nbsp;</h6>
    <h5>👩🏻‍Fiona L. &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>10:10·Covid 19 &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;</h6>
    <h5>🏊🏻Nezir B. &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>11:00·Broken heart &nbsp;	&nbsp;</h6>
    <h6>&nbsp; &nbsp;	&nbsp; &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
    <h6> Tomorrow &nbsp; &nbsp;	&nbsp; &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
    <h6>&nbsp; &nbsp;	&nbsp; &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
    <h5>🧑Peter P.&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;	&nbsp;</h5>
    <h6>09:15·Covid 19 &nbsp;	&nbsp;	&nbsp;	&nbsp;</h6>
  </div>
</h1>
{% endblock %}